//
//  env.xcconfig
//  geber
//
//  Created by bernanda on 03/04/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APPLICATION_NAME = Geber
RECEIVER_FCM =
SERVER_KEY = 
REDIS_HOST = 
REDIS_PASS = 
REDIS_USER = 
BEACON_UUID =

